
header{
    background-color: rgb(146, 85, 34);
    text-align: center;
    color: white;
    padding: 10px;
}
nav {
    background-color: rgb(255, 236, 217);
    float: left;
    width: 20%;
    line-height: 30px;
    padding: 10px;
    border: 1px solid gray;
    height: 760px;
}
footer {
    background-color: rgb(191, 108, 30);
    color: white;
    padding: 15px;
}
.n {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    font-size: medium;
}
div {
    display: flex;
    align-items: center; /* แนวตั้ง */
    justify-content: space-between; /* เพิ่มระยะห่าง*/
    margin-top: 5px;
}
p {
    padding: 10px;
    font-family: Noto Sans Thai,sans-serif;
}
li , h3 ,h1 ,h4{
    font-family: Noto Sans Thai,sans-serif;
}
section {
    background-color: rgb(224, 224, 224);
}
