
body {
    background-color: rgb(141, 98, 24);
}

.buy-button {
    color: white;
    background-color: yellowgreen;
    height: 45px;
    width: 45px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 115px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 120px;
}

.book {
    background-color: white;
    border: 2px solid white;
    height: 500px;
    width: 260px;
    border-radius: 10px;
    margin: 15px;
}

h2,
p {
    text-align: center;
}

#books {
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 300px;
    width: 230px;
    border-radius: 25px;
}

.book:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

button:hover {
    background-color: rgb(132, 182, 33);
    cursor: pointer;
}
