        h3 {
            text-align: center;
        }

        .box {
            border: 1px solid;
            /* พื้นที่ */
            width: 500px;
            /* กำหนดความกว้าง */
            /* ไม่ว่าคุณจะกำหนดความกว้างหรือความสูงของกล่องไปกี่หน่วยก็ตาม กล่องจะปรับขนาดของตัวเองให้พอดีกับเนื้อหาภายในโดยไม่ต้องคำนวณความกว้างของเส้นขอบและพื้นที่ว่าง */
            box-sizing: border-box;
            padding: 20px;
            /* ระยะห่างจากขอบเข้ามาด้านในทุกทิศทาง */
            /*padding: บน  ขวา  ล่าง  ซ้าย */
            padding: 20px 100px 70px 30px;
            margin-top: 20px;
            /* ระยะห่างกล่องด้านบน */
            margin-bottom: 10px;
            margin-left: 40px;
            /* ระยะห่างกล่องด้านซ้าย */
        }

        p {
            margin: 0;
            /* ลบระยะห่างของ margin เดิม */
        }

        .box1 {
            border: 10px solid;
            border-left-color: darkgreen;
            /* เส้นขอบทุกด้าน */
            border-top-color: rgb(244, 1, 1);
            /* กำหนดสีเส้นด้านบน */
            border-right-color: darkorange;
            /* กำหนดสีเส้นด้านขวา */
            border-bottom-color: yellow;
            /* กำหนดสีเส้นด้านล่าง */
        }

        .box2 {
            /* !important การบังคับไม่ให้เปลี่ยนเมื่อใช้คำสั่งใหม่ */
            border: 10px groove rgb(151, 151, 210) !important;
            /* เส้นขอบทุกด้าน */
            border: 10px dotted red;
        }

        .box3 {
            border: 5px solid violet;
            border-left: 10px groove red;
            border-bottom: 15px dotted brown;
            border-right: 5px dashed skyblue;

        }

        .box4 {
            outline: 5px solid purple;
            /* เส้นด้านนอกที่มาครอบเส้นขอบ */
            border: 10px solid;
            border-radius: 20px;
            /* ขอบโค้งทุกด้าน */
        }

        .box5 {
            border: 5px solid;
            /*ตามเข็มนาฬิกา บนซ้าย บนขวา ล่างขวา ล่างซ้าย */
            border-radius: 20px 80px 120px 200px;
        }

        .box6 {
            border: 2px solid red;
            padding: 20px;
            width: 200px;
            margin: auto;
            /* อยู่กลาง */
            margin-bottom: 10px;
            /* ระยะห่างด้านล่าง */
        }

        .box7 {
            border: 5px solid;
            /* กำหนดความโค้งให้ล่างขวา */
            border-bottom-right-radius: 120px;
            /* กำหนดความโค้งให้ล่างซ้าย */
            border-bottom-left-radius: 60px;
            /* กำหนดความโค้งให้บนซ้าย */
            border-top-left-radius: 20px;
            /* กำหนดความโค้งให้บนขวา */
            border-top-right-radius: 200px;
        }

        .box8 {
            border: 5px solid;
            /* 50px คือรัศมีของเส้นขอบความโค้งในแนวนอน */
            /* 100px คือรัศมีของเส้นขอบความโค้งในแนวตั้ง */
            border-radius: 50px / 100px;
            /* -10px: ค่าเป็นความห่างแนวนอนของเงาจากกล่อง ซึ่งในที่นี้จะมีการเคลื่อนที่ไปทางด้านซ้ายเท่ากับ 10px เนื่องจากมีค่าลบ (-10px).
            10px: ค่าเป็นความห่างแนวตั้งของเงาจากกล่อง ซึ่งในที่นี้จะมีการเคลื่อนที่ไปทางด้านล่างเท่ากับ 10px.
            30px: ค่าเป็นขนาดของเงา หมายถึงความเข้มของเงา โดยค่ามากจะทำให้เงาดูหนาและเข้มขึ้น. */
            box-shadow: -10px 10px 30px red;
        }
